<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />    
        <title>Listagem de contatos utilizando o Spring Boot</title>        
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" />        
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"  rel="stylesheet" />        
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"  rel="stylesheet" />        
        <link th:href="@{/css/estilo.css}" rel="stylesheet" />        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	   
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
       <nav class="navbar navbar-inverse navbar-fixed-top">		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Início</a>
				<a class="navbar-brand" th:href="@{/products}">Listagem de Produtos</a>
				<a class="navbar-brand" th:href="@{/users}">Listagem de Usuários</a>
				<a class="navbar-brand" th:href="@{/contatos}">Listagem de Contatos</a>
				<a class="navbar-brand" th:href="@{/contatos/novo}">Cadastrar contatos</a>
			</div>			
		<ul class="nav navbar-nav navbar-right">
        <li><a style="margin-right:10px;" sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0" th:href="@{/logout}"><span class="material-icons">
login
</span>Logout</a></li>       
      </ul>
	</nav>
 
	<br>
	<br><br>
		<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Página inicial</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de Contatos</li>
  </ol>
</nav>
        <div class="container">
            <div class="page-header">
                <h1>Lista de contatos</h1>
                <a href="contatos/novo" class="btn btn-primary">Adicionar um novo contato</a>
            </div>
            
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="contato: ${contatos}">
                        <td th:text="${contato.id}"></td>
                        <td th:text="${contato.nome}"></td>
                        <td th:text="${contato.email}"></td>
                        
                        <td>
                                   	<a th:href="@{'contatos/edit/' + ${contato.id}}"><span class="material-icons">
create
</span>Editar</a>
                	&nbsp;&nbsp;&nbsp;
                 

 <button class="btn btn-danger" data-toggle="modal" data-target="#smallModal"><span class="material-icons">
delete_sweep
</span>Excluir</button>

    <div id="smallModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir este item ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"><a style="color:white;" th:href="@{'/contatos/delete/' + ${contato.id}}"><span class="material-icons">
delete_sweep
</span>Sim</a></button>
                </div>
            </div>
        </div>
    </div>
    
    
    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    	<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Todos os direitos reservados</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    
   
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </body>
</html>
